<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <style>
        .border-none{
            border: 2px solid greenyellow;
        }
        .border-red{
            border: 2px solid red;
        }
        .msg{
            padding: 10px;
            margin: auto;
            margin-bottom: 20px;
            background-color: rgb(196, 196, 48);
            color: white;
            border: 2px solid yellow;
            border-radius: 5px;
            width: 200px;
            text-align: center;
        }
        input{
            margin-bottom: 10px;
        }
        .box{
            margin:auto;
            padding: 10px;
            width: 500px;
            text-align: center;
            border: 2px solid gray;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>SignUp</h1>
        <% if(msg){ %>
            <div class="msg"><%= msg %></div>
        <% } %>
        <form action="/signup" method="post">
            <input required autocomplete type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" placeholder="Email"><br>
            <input required type="text" name="name" placeholder="Full Name"><br>
            <input required type="number" min=10 max=100 name="age" placeholder="Age"><br>
            <input checked type="radio" name="gender" id="male" value="Male"><label for="male">Male</label>
            <input type="radio" name="gender" id="female" value="Female"><label for="female">Female</label><br>
            <label required for="pImg">Profile Image: </label><input type="file" name="pImg" id="pImg"><br>
            <input required autocomplete type="password" name="pass" id="pass" placeholder="Password" onkeyup="check_pass()">
            <input required autocomplete type="password" id="cpass" placeholder="Confirm Password" onkeyup="check_pass()"><br><br>
            <input type="submit" id="submit" value="SignUp" disabled>
        </form>
        <br>
        <a href="/login">Login Instead</a>
    </div>
</body>
    <script>
        function check_pass() {
            if (document.getElementById('pass').value == document.getElementById('cpass').value) {
                document.getElementById('pass').setAttribute('class', 'border-none');
                document.getElementById('cpass').setAttribute('class', 'border-none');
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('pass').setAttribute('class', 'border-red');
                document.getElementById('cpass').setAttribute('class', 'border-red');
                document.getElementById('submit').disabled = true;
            }
        }
    </script>
</html>